@import "flexbox";

.emote-container {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  margin: 1rem;
}

.emote-image {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include flex(auto);
  height: 100%;
  width: 100%;
}

.emote-header {
  margin: 0;
}