@import 'emote';

// Sizes
$break-small: 480px;
$break-large: 1200px;

$max-container-width: 960px;

// Colors
$divider-out: rgba(40, 40, 49, .25);
$divider-in: rgba(73, 73, 84, 1);

$background: #1c1c1f;
$text: #A8A8AD;

$input: #44444B;
$input-focus: #83838B;

.container {
  margin: 0 auto;
  clear: both;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  @media screen and (min-width: $break-large) {
    width: $max-container-width;
  }
}

#emotes {
  justify-content: space-between;
}

.header {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: $break-small) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
}

a {
  color: $text;
  font-weight: bold;
}

h1 {
  font-weight: lighter;
}

body {
  background-color: $background;
  color: $text;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

hr {
  width: 100%;
  max-width: $max-container-width;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $divider-out, $divider-in, $divider-out);
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px $input;
  background-color: $input;
  transition: border 0.5s ease-in-out;
  color: $text;
  outline: none;
}

html {
  overflow-y: scroll;
}

input:focus {
  border-bottom: solid 2px $input-focus;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

#noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9001;
  height: 100%;
  width: 100%;
  background: $background;
  h3 {
    max-width: $max-container-width;
    padding: 1rem;
  }
}