<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>title</title>
</head>
<body>
<h1>emotes</h1>
<ul>
  {{#each emotes}}
    <li>{{@key}}<img src="{{this}}"></li>
  {{/each}}
</ul>
</body>
</html>