doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Tastycat Emotes
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    style(type='text/css').
      #{css}
  body
    header.container.header
      div.title
        h1 Tastycat Emotes
        span Contribute emotes #[a(href='https://github.com/catsaretasty/emotes') here.]
      #search-box
    hr
    noscript
      #noscript
        h3 Hi, JavaScript-disabled user! The images are usually lazy-loaded with JavaScript. Turn on JavaScript
          |  to view, or #[a(href='noscript/') visit the noscript page]. This might slow your browser, since all
          |  of the images are loaded at once (currently about 5MB).
    .loader.container Loading emotes...
    #emotes.container(style='display:none')
    script(async, defer, src='emotes.js', onload='require("emotes").init()')