doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Tastycat Emotes
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    style(type='text/css').
      #{css}
  body
    header.container.header
      div.title
        h1 Tastycat Emotes
        span Contribute emotes #[a(href='https://github.com/catsaretasty/emotes') here.]
      #search-box
    hr
    noscript
      h1 Hi, JavaScript-disabled user!  The images below won't load without JavaScript.  Turn on JavaScript
        |  to view, or #[a(href='noscript/') visit the noscript page] (this might hurt your browser).
    #emotes.container
      each emote in emotes
        .emote-container
          h4.emote-header #{emote.name}
          .emote-image
            img.b-lazy(src='loading.gif', data-src='#{emote.url}', alt="#{emote.name}")
    script(async, defer, src='emotes.js', onload='require("emotes").init()')