doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Tastycat Emotes
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    style(type='text/css').
      #{css}
  body
    header.container.header
      div.title(style='margin: 0 auto')
        h1 Tastycat Emotes
        span Contribute emotes #[a(href='https://github.com/catsaretasty/emotes') here.]
    hr
    #emotes.container
      each emote in emotes
        .emote-container
          h4.emote-header #{emote.name}
          .emote-image
            img(src='#{emote.url}', alt="#{emote.name}")